

@font-face {
    font-family: LuxuryRoyaleJF;
    src: url(font/LuxuryRoyaleJF.ttf);
}

@font-face {
    font-family: HelveticaNeueLTStd-LtCn;
    src: url(font/HelveticaNeueLTStd-LtCn.otf);
}

@font-face {
    font-family:HelveticaNeueLTStd-Th;
    src: url(font/HelveticaNeueLTStd-Th.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-BlkCn;
    src: url(font/HelveticaNeueLTStd-BlkCn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-ThCn;
    src: url(font/HelveticaNeueLTStd-ThCn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-LtIt;
    src: url(font/HelveticaNeueLTStd-LtIt.otf);
}

@font-face {
    font-family: Bello-Script;
    src: url(font/Bello-Script.ttf);
}

@font-face {
    font-family: HelveticaNeueLTStd-UltLtCn;
    src: url(font/HelveticaNeueLTStd-UltLtCn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-BdCn;
    src: url(font/HelveticaNeueLTStd-BdCn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-Cn;
    src: url(font/HelveticaNeueLTStd-Cn.otf);
}

@font-face {
    font-family: HelveticaNeueLTStd-Lt;
    src: url(font/HelveticaNeueLTStd-Lt.otf);
}

@font-face {
    font-family: a_empirial;
    src: url(font/a_empirial.ttf);
}

