



* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    font-size: 16px;
    font-family: arial, sans-serif;
}

/*a {
    font-size: 0;
}*/

.container {
    margin: 0 auto;
    width: 80.83333%;
}

.container-info {
    background: #000000;
    color: white;
    font-size: 0.6875em;
}

.customInfo {
    display: grid;
    align-items: center;
    grid-template-columns: auto 72px 126px 34px;
    grid-template-rows: 30px;
}

.customInfo {
    text-transform: uppercase;
}

.customCare p {
    font-family: arial, sans-serif;
    font-size: 0.6875rem;
}

.customCare span {
    font-family: arial, sans-serif;
    font-size: 0.75rem;
}

.moneySelection {
    height: 30px;
    border-left: 1px solid red;
    border-right: 1px solid red;
    padding: 0 2px;
    text-align: center;
}

.moneySelection select {
    padding: 0 5px 0 5px;
    height: 28px;
    background: black;
    color: white;
    border: none;
    font-size: 0.9875em;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.moneySelection select:focus {
    outline: none;
}

.myAccount {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

.myAccount a {
    text-decoration: none;
    color: white;
}

.myAccount a:hover {
    color: #fd926d;
}

.myAccount i {
    font-size: 15px;
    color: #666666;
}

.searchBlock {
    height: 30px;
    line-height: 30px;
    /*padding: 20% 0;*/
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    text-align: center;
    white-space: nowrap;
}

.searchBlock .fa.fa-search {
    font-size: 15px;
    cursor: pointer;
}

.searchBlock i {
    padding: 0 6px;
}

.searchBlock input {
    height: 29px;
    width: 197px;
    margin-left: -201px;
    outline: none;
    border: none;
    display: none;
    background: #444444;
    color: white;
}

.searchBlock .open {
    display: inline-block;
}



/*************************/
/*navigation*/
/*************************/

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.9% auto 1.6% auto;
}

.logo {
    padding-top: 0.5%;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-size: 1em;
    color: black;
}

.menu > ul li {
    position: relative;
}

.menu li ul {
    z-index: 1;
    position: absolute;
    width: 150px;
    background: white;
    transition: top 1s ease-out 0.5s;
}

.menu > ul {
    display: flex;
}

.menu > ul li a {
    padding: 10px 15.7px;
    display: block;
    transition: all 0.3s ease-out;
    white-space: nowrap;
}

.menu i {
    font-size: 0.75em;
}

.menu > ul > li a:hover {
    background: #fd926d;
    transition: all 0.3s ease-out;
}

.menu > ul > li > a:hover {
    color: white;
}

.menu li ul a {
    border-top: 1px  solid #e8ebf1;

    display: none;
}

.menu li:hover ul a,
.menu li:hover ul li:last-child:after {
    display: block;
}

.menu li ul li:last-child:after {
     content: "";
     position: absolute;
     height: 5px;
     width: 150px;
     background: #fd926d;
     display: none;
}

.overlay > a {
    display: none;
}

.shoppingCart {
    margin-left: 10px;
}

.shoppingCart li:first-child,
.shoppingCart li:last-child {
    width: 213px;
    height: 32px;
}

.shoppingCart li:last-child {
    line-height: 32px;
}

.shoppingCart li:first-child {
    border: 1px solid #d6d6d6;
}

.shoppingCart li:last-child {
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}

.shoppingCart li:first-child a span,
.shoppingCart i {
    font-size: 0.75em;
}

.shoppingCart li:last-child a span {
    font-size: 0.6875em;
}

.shoppingCart i {
    color: #c1c1c1;
}

.shoppingCart a {
    color: #949393;
    display: block;
    padding: 0 4%;
}

.shoppingCart li a:hover {
    color: #fd7140;
}

.shoppingCart li:first-child  {
    position: relative;
}

.shoppingCart li:first-child a {
    position: absolute;
    top: 19%;
    display: block;
}

.shoppingCart li:first-child span {
    padding-right: 134px;
}

.shoppingCart img {
    padding-right: 95px;
    vertical-align: middle;
}

.shoppingCart li:last-child span {
    text-transform: uppercase;
}

.menu760 {
    display: none;
    position: relative;
    margin: 1.9% auto 0 auto;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background: #fd926d;
    cursor: pointer;
}

.menu760 p {
    padding: 0 10px;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.125em;
    text-transform: uppercase;

}

.menu760 i {
    /*align-self: center;*/
   /* position: absolute;
    right: 0;*/
    cursor: pointer;
    padding: 0 8px;
    font-size: 1.5em;
    color: white;
}






@media all and (max-width: 1018px) {
    .menu > ul li a {
        padding: 10px 10px;
    }

    .menu li ul {
        width: 130px;
    }

    .menu li ul li:last-child:after {
        width: 128px;
    }

    .shoppingCart {
        margin-left: 5px;
    }

    .shoppingCart li:first-child,
    .shoppingCart li:last-child {
        width: 163px;
    }

    .shoppingCart li:first-child span {
        padding-right: 84px;
    }

    .shoppingCart img {
        padding-right: 45px;
    }
}

@media all and (max-width: 880px) {
    .menu > ul li a {
        padding: 10px 5px;
    }

    .menu li ul {
        width: 120px;
    }

    .menu li ul li:last-child:after {
        width: 118px;
    }

    .shoppingCart li:first-child,
    .shoppingCart li:last-child {
        width: 113px;
    }

    .shoppingCart li:first-child span {
        padding-right: 44px;
    }

    .shoppingCart img {
        padding-right: 5px;
    }

    .shoppingCart a {
        padding: 0 2%;
    }
}

@media all and (max-width: 760px) {
    .container {
        width: 96.052631578%;
    }

    .shoppingCart li:first-child,
    .shoppingCart li:last-child {
        width: 213px;
    }

    .shoppingCart li:first-child span {
        padding-right: 134px;
    }

    .shoppingCart img {
        padding-right: 95px;
    }

    .menu760 {
        display: flex;
    }


    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
       /* overflow-y: hidden;*/
        transition: 0.5s;
    }

    .overlay > li {
       /* position: relative;*/
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        color: #818181;

    }

    .menu > ul {
        display: block;
    }

    .overlay > a {
        display: block;
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
    }

    .overlay > a:hover {
        color: white;
    }

    .menu > ul > li a:hover {
        background: none;
    }

    .menu li ul {
        position: static;
        width: 100%;
        background: #3c3c3c;
        display: none;
    }

    .menu > ul li {
        display: inline-block;
    }

    .menu li ul a {
        border: none;
        padding: 30px 20px;
        color: white;
    }

    .menu li:hover ul li:last-child:after {
        display: none;
    }

    .menu li ul li a {
        display: block;
    }

}




@media all and (max-width: 640px) {
    .container {
        width: 95.3125%;
    }

    .customInfo {
        width: 100%;
    }

    .customInfo {
        display: block;
    }

    .customCare {
        width: 100%;
        background: white;
    }

    .customCare p {
        color: #838383;
        padding: 5.4% 0;
        text-align: center;
        font-size: 1.875rem;
    }

    .customCare p span {
        font-size: 1.875rem;
    }

    .moneySelection,
    .myAccount,
    .searchBlock {
        display: inline-block;
    }

    .moneySelection {
        width: 23.90625%;
    }

    .myAccount {
        width: 59.84375%;
        text-align: center;
    }

    .myAccount a {
        align-items: center;
    }

    .myAccount p {
        display: inline;
    }

    .searchBlock {
        width: 14%;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .menu {
        width: 100%;
    }

    .shoppingCart {
        width: 100%;
    }

    .shoppingCart ul li:first-child {
        display: none;
    }

    .shoppingCart li:last-child {
        margin: 1% 0;
        width: 100%;
        border-top: 1px solid #d6d6d6;
    }

    .shoppingCart li:last-child span {
        float: right;
    }

    .logo img {
        display: none;
    }

    .logo a {
        display: block;
        background: url(img/bigLogo.png) no-repeat center;
        background-size: 55%;
        padding: 7% 14%;
    }

}



/*********************/
/*Carousel*/
/*********************/

.banner {
    max-width: 100%;
    height: auto;
}

.owlItem {
    position: relative;
}

.item1 p {
    position: absolute;
    top: 9.2%;
    left: 26.2%;
    font-family: LuxuryRoyaleJF, sans-serif;
    font-size: 2.75vw;
    color: #78645d;
}

.item1 h3 {
    position: absolute;
    top:  57.6%;
    left: 18.2%;
    font-family: HelveticaNeueLTStd-LtCn, Helvetica, sans-serif;
    font-size: 2.75vw;
    color: #78645d;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}

hr {
    margin: 0;
}

.item1 hr:nth-child(1),
.item1 hr:nth-child(2) {
    position: absolute;
    height: 1px;
    width: 6.166666666666667%;
    background-color: #78645d;
    border: none;
}

hr:nth-child(1) {
    top: 14.6%;
    left: 19.5%;
}

hr:nth-child(2) {
    top: 14.6%;
    left: 33.6%;
}

.item1 hr:nth-child(5) {
    position: absolute;
    top: 54%;
    left: 15.2%;
    height: 4px;
    width: 28.41666666666667%;
    background-color: #78645d;
    border: none;
}

.item1 hr:nth-child(6) {
    position: absolute;
    top: 55.6%;
    left: 15.2%;
    height: 1px;
    width: 28.16666666667%;
    background-color: #78645d;
    border: none;
}

.item1 a {
    position: absolute;
    top: 68.8%;
    left: 22.8%;
    display: block;
    padding: 1.70% 4.1% 1.50% 2%;
    background: #fd926d;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: HelveticaNeueLTStd-Th, Helvetica, sans-serif;
    font-size: 1.25vw;
}

.item1 a i {
    position: absolute;
    top: 38.2%;
    left: 82%;
    font-size: 0.6875em;
    padding-bottom: 2%;
}

.item1 a:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    right: 1px;
    background: #dd6b44;
    /*display: none;*/
}

.item1 a:hover {
    background: #dd6b44;
}


.owl-carousel {
    z-index: 0;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 33.4%;
    font-size: 2vw;
}

.fa.fa-chevron-left,
.fa.fa-chevron-right {
    font-size: 1.625vw;
    color: #cbcbca
}

.owl-prev,
.owl-next {
    padding: 4.1% 0.6% !important;
    background: #fefefd !important;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.owl-prev:hover .fa.fa-chevron-left,
.owl-next:hover .fa.fa-chevron-right {
    color: #fd926d;
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-dots {
    margin: 2.4% 0 2.5% 0;
    text-align: center;
}

.owl-carousel button.owl-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #867a76;
    margin: 0 0.84%;
    border-radius: 50%;
}

.owl-carousel button.owl-dot {
    outline: none;
}

.owl-carousel button.owl-dot.active {
    background: #fd926d;
}



/*****************/
/*E-mail section*/
/*****************/

.emailSection {
    background: #ededed;
}

.emailFlex {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-wrap: nowrap;
    height: 55px;
}

.stayUpdatedContainer {
    /*padding: 1.5%  0 1.3% 0;*/
    line-height: 55px;
    flex-basis: 240px;
}

.stayUpdatedContainer label {
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: #6b6b6b;
}

.stayUpdatedContainer input[type="email"] {
    margin-left: 1.8%;
    padding: 7px 7px;
    width: 132px;
    border: none;
    outline: none;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    color: #9f9f9f;
}

.stayUpdatedContainer button {
    padding: 0;
    background: #fd926d;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #dd6b44;
    border-left: none;
    cursor: pointer;
}

.stayUpdatedContainer button:hover {
    background: #4fafa0;
    border-bottom: 3px solid #0E8673;
}

.stayUpdatedContainer button i {
    padding: 7px 9px 6px 8px;
    font-size: 1em;
    color: white;
}

.findUsContainer {
    line-height: 55px;
    flex-basis: 245px;
}

.findUsContainer p {
   /* align-self: flex-start;*/
    position: relative;
    top: -4px;
    margin-right: 3%;
    display: inline-block;
    font-size: 0.75em;
    font-family: Arial, sans-serif;
    color: #6b6b6b;
}

.findUsContainer i {
    color: #6b6b6b;
}

.findUsContainer a:nth-child(2) {
    /*padding: 7.2% 0 7.3% 0;*/
    position: relative;
    top: -2px;
    font-size: 1.25em;
}

.findUsContainer a:nth-child(3) {
    /*padding: 6% 0;*/
    font-size: 1.4375em;
}

.findUsContainer a:nth-child(3) i {
    position: relative;
    left: 2px;
}

.findUsContainer a:nth-child(4) {
    /*padding: 5.9% 0 6.9% 0;*/
    font-size: 1.5em;
}

.findUsContainer a {
    text-decoration: none;
    display: inline-block;
    width: 54px;
    text-align: center;
}

.findUsContainer a:nth-child(2),
.findUsContainer a:last-child {
    background: #f7f7f7;
}

.findUsContainer a:visited {
    color: #6b6b6b;
}

.findUsContainer a:hover i {
    color: #a19d9d;
}


/*************************/
/*LAYERS SECTION*/
/*************************/

.layersSection {
    margin-top: 3.35%;
    margin-bottom: 4.2%;
}

.layerContainer {
    display: flex;
    justify-content: space-between;
}

.layerItem1 {
    width: 49.9%;
}

.layerItem2 {
    display: flex;
    width: 49.9%;
    flex-direction: column;
    justify-content: space-between;
}


.subLayerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.layer {
   /* max-width: 100%;*/
    height: auto;
    width: 100%;
}


.ferrisWheel {
    overflow: hidden;
}

.ferrisWheel img {
    transition: 0.5s;
}

.ferrisWheel:hover img {
    transform: scale(1.2);
}

.ferrisWheel a,
.girlBlue a,
.girlPortrait a,
.leatherMan a {
    display: -ms-grid;
    display: grid;
    position: relative;
}

.ferrisWheel h2 {
    position: absolute;
    top: 19%;
    left: 61.5%;
    text-transform: uppercase;
    font-family: HelveticaNeueLTStd-BlkCn, Arial, sans-serif;
    font-size: 2.625vw;
    color: #414141;
}

.ferrisWheel h2 span {
    position: absolute;
    top: 95%;
    left: -107%;
    font-family: HelveticaNeueLTStd-ThCn, Arial, sans-serif;
    font-size: 5.75vw;
    color: #414141;
    letter-spacing: 0.05vw;
}

.ferrisWheel a hr:nth-child(3),
.ferrisWheel a hr:nth-child(4) {
    position: absolute;
    top: 53.5%;
    height: 1px;
    width: 17.97520661157025%;
    background-color: #414141;
    border: none;
}

.ferrisWheel a hr:nth-child(4) {
    left: 47%;
}

.ferrisWheel a hr:nth-child(3) {
    left: 73%;
}

.ferrisWheel a p {
    position: absolute;
    top: 48.8%;
    left: 65.5%;
    width: 6.84%;
    height: 2.579vw;
    background-color: #414141;
    border-radius: 50%;
    font-family: HelveticaNeueLTStd-LtIt, Arial, sans-serif;
    font-size: 1.75vw;
    color: #ffffff;
    text-align: center;
    line-height: 2.579vw;
}

.ferrisWheel a h2:last-child {
    position: absolute;
    top: 56.9%;
    left: 45.9%;
    text-transform: uppercase;
    font-family: HelveticaNeueLTStd-BlkCn, Arial, sans-serif;
    font-size: 6.5vw;
    color: #4fafa0;
}



.girlBlue {
    overflow: hidden;
}

.girlBlue img:not(.ellipse) {
    transition: 0.5s;
}

.girlBlue:hover img:not(.ellipse) {
    transform: scale(1.2);
}

.girlBlue .ellipse {
    position: absolute;
    top: 10%;
    left: 5.9%;
    width: 27%;
}

.girlBlue h2 {
    position: absolute;
    top: 25%;
    left: 13%;
    font-family: Bello-Script, Script MT, sans-serif;
    font-size: 1.6875vw;
    color: #fd926d;
}

.girlBlue h2 span:nth-child(2) {
    position: absolute;
    left: -21%;
    font-family: HelveticaNeueLTStd-UltLtCn, Arial, sans-serif;
    font-size: 3.375vw;
    color: #c1aea8;
    text-transform: uppercase;
}

.girlBlue h2 span:nth-child(4) {
    position: absolute;
    top: 153%;
    left: -2%;
    font-family: HelveticaNeueLTStd-BdCn, Arial, sans-serif;
    font-size: 1.0625vw;
    color: #6a6a6a;
    text-transform: uppercase;
    letter-spacing: 0.01vw
}


.girlPortrait,
.leatherMan {
    /*position: relative;*/
    overflow: hidden;
}

.girlPortrait img {
    transition: 0.5s;
}

.girlPortrait:hover img {
    transform: scale(1.2);
}

.girlPortrait h2 {
    position: absolute;
    top: 74.5%;
    left: 10.5%;
    font-family: HelveticaNeueLTStd-UltLtCn, Arial, sans-serif;
    font-size: 2.625vw;
    color: #ffffff;
    text-transform: uppercase;
}

.girlPortrait i {
    position: absolute;
    top: 80%;
    left: 83%;
    font-family: HelveticaNeueLTStd-UltLtCn, Arial, sans-serif;
    font-size: 1vw;
    color: #ffffff;
}


.leatherMan img {
    transition: 0.5s;
}

.leatherMan:hover img {
    transform: scale(1.2);
}

.leatherMan a {
    text-align: center;
}

.leatherMan h2 {
    position: absolute;
    top: 26.5%;
    left: 7.5%;
    font-family: HelveticaNeueLTStd-Cn, Arial, sans-serif;
    font-size: 2.8125vw;
    line-height: 86%;
    color: #ffffff;
    text-transform: uppercase;
}

.leatherMan a button {
    position: absolute;
    top: 72%;
    left: 13%;
    background: #4fafa0;
    padding: 2.9% 10% 2.9% 3.5%;
    font-family: HelveticaNeueLTStd-Lt, Arial, sans-serif;
    font-size: 0.9375vw;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.leatherMan a button i {
    position: absolute;
    top: 30%;
    left: 83%;
}


/**************************/
/*GIRLS CAROUSEL*/
/**************************/

.girlsCarousel {
    background: #fd926d;
}

.slide-twoItem div {
    padding: 4% 3% 5% 3%;
    text-align: center;
    background: #f7f7f7;
}




.slide-twoItem div a {
    font-family: Arial, sans-serif;
    font-size: 0.75em;
    text-decoration: none;
    text-transform: uppercase;
}

.slide-twoItem div a:first-child {
    color: #373737;
}

.slide-twoItem div a:last-child {
    position: relative;
    display: inline-block;
    padding: 4% 5.3%;
    background: #fd926d;
    color: #ffffff;
    box-shadow: inset 0 -3px 0 0 #dd6b44;
}

.slide-twoItem div p {
    padding: 4.1% 0;
    font-family: Arial, sans-serif;
    font-size: 1.375em;
    color: #373737;
}

.slide-twoItem {
    padding: 15% 0;
    transition: 0.3s;
}

.slide-twoItem:hover {
    transform: scale(1.08);
}

.slide-twoItem:hover > div {
    box-shadow: 0 10px 20px #be6d52;
}

.slide-twoItem .shopIt {
    position: absolute;
    top: 25%;
    left: 20%;
    padding: 19.22% 19.20%;
    background: #3d3d3d;
    display: inline-block;
    border-radius: 50%;
    opacity: 0;
    transform: scale(2);
    transition: all 0.3s;
}

.slide-twoItem .shopIt i {
    font-size: 2em;
    color: #ffffff;
}

.slide-twoItem .shopIt p {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #ffffff;
}

.slide-twoItem > a {
    text-decoration: none;
}

.slide-twoItem:hover .shopIt {
    opacity: 1;
    transform: scale(1);
}



.tab {
    display: flex;
}

.tablink {
    padding: 1.6% 2%;
    background: none;
    font-family: Arial, sans-serif;
    font-size: 0.9375em;
    color: #555555;
    border: none;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
}

.tablink:hover {
    text-shadow: 0 0 0.01px;
}


.tabcontent {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


.slide-two .owl-prev,
.slide-two .owl-next {
    top: -10.2%;
    padding: 0.6% 0 !important;
}

.slide-two .owl-next {
    left: 86.7%;
    background: #fd926d !important;
}

.slide-two .owl-prev {

    left: 82.9%;
    background: #fd926d !important;
}

.slide-two .owl-prev:hover,
.slide-two .owl-next:hover {
    background: #f2f2f2 !important;
}


.slide-two .owl-prev:hover,
.slide-two .owl-next:hover {
    background: #f2f2f2 !important;
}

.slide-two .owl-prev .fa.fa-chevron-left,
.slide-two .owl-next .fa.fa-chevron-right {
    color: #ffffff;
}

.slide-two .owl-prev:hover .fa.fa-chevron-left,
.slide-two .owl-next:hover .fa.fa-chevron-right {
    color: #979797;
}



.slide-two .owl-prev .icon-left-open-big,
.slide-two .owl-next .icon-right-open-big {
    font-size: 2em;
    font-weight: 100;
    color: #ffffff;
}

.slide-two .owl-prev:hover .icon-left-open-big,
.slide-two .owl-next:hover .icon-right-open-big {
    color: #979797;
}




/*.girlBlue  a p {
    position: absolute;
    top: 10%;
    left: 5.9%;
    width: 27.014%;
    height: 10.235vw;
    background-color: white;
    border-radius: 50%;
}*/



/*
.emailContainer input[type="email"]::-webkit-input-placeholder,
.emailContainer input[type="email"]:-ms-input-placeholder,
.emailContainer input[type="email"]::-ms-input-placeholder,
.emailContainer input[type="email"]::placeholder {
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #9f9f9f;
}
*/





/*


.customInfo {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.customCare {
    display: flex;
    align-items: center;
}

.accountInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid red;
    border-right: 1px solid red;
    height: 100%;
}

.accountInfo div {
    border-left: 1px solid red;
}

.accountInfo i {
    font-size: 12px;
    color: #666666;
}

.myAccount {
    height: 50px;
    line-height: 50px;
}*/
